* { 
    font-family: 'Roboto';
    border: 1px solid red;
    font-family: "Roboto", sans-serif;
    padding:0;
    margin:0;
}

:root {
    --dark-bg:#1f2937;
    --light-prime-text: #F9FAF8;
    --light-sec-text: #E5E7EB;
    --dark-bg-sec:#3882F6;
    --dark-prime-text:#1F2937;
    --mid-bg:#E5E7EB;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
/* 
Header section
============== 
*/

.header{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    color:var(--light-sec-text);
}
.logo {
    font-weight: 600;
    font-size: 24px;
    color:var(--light-prime-text);
}
.links{
    display: flex;
    gap:20px;
}

.links li a{
    text-decoration: none;
    color: var(--light-sec-text);
    font-size: 18px;
}

/* 
Hero section
============ 
*/

.hero {
    display: flex;
    justify-content:space-between;
    background-color: var(--dark-bg);
}
.hero-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
}

.hero-content h1{
    color:var(--light-prime-text);
    font-size: 48px;
    font-weight: 900;
}
.hero-content p {
    color:var(--light-sec-text);
    font-size: 18px;
}
.hero-content button {
    width:100px;
    background-color: var(--dark-bg-sec);
    color: var(--light-sec-text);
    font-size:18px;
}

/* 
info section 
============
*/

.info-section h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:var(--dark-prime-text);
}

.cards{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:75px;
}
.card{
    flex-basis: 0;
    border: 3px solid var(--dark-bg-sec);
}

/* 
quote section
============= 
*/
.quote-section{
    display: flex;
    flex-direction: column;
    background-color: var(--mid-bg);
}
.quote-section blockquote {
    text-align: center;
    font-size: 36px;
    font-weight:300;
}

.quote-section p {
    align-self: flex-end;
    font-size: 28px;
    font-weight: 600;

}

/*
Signup section
==============
*/

.footer-signup{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg-sec);
    
}

.footer-signup h6{
    color:var(--light-prime-text);
    font-weight: 500;
    font-size: 28px;
}

.footer-signup p {
    color:var(--light-sec-text);
    font-weight: 300;
    font-size: 24px;
}

.footer-signup button {
    background-color: var(--dark-bg-sec);
    border: 2px solid var(--light-prime-text);
    color: var(--light-prime-text);
    font-weight: 500;
    font-size:24px;
}
/*
Footer section
==============
*/
footer{
    text-align: center;
    margin-top: auto;
    background-color: var(--dark-bg);
    color: var(--light-sec-text);
}